p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: gray;
}

img{
    max-width: 100%;
}

.bulbParagraph{
    display: flex;
}


h1{
 font-family: "Poppins", sans-serif;
    color: red;
    font-weight: bold;
    margin-bottom: 30px;
}

span {
    color: gray;
}






