<h1>The power of <span>#please pay for me</span></h1>

<div class="bulbParagraph">
<div>
    <img class="picture" src="assets/Images/Keep_lights_on.jpg" alt="">
</div>
<div>
    <p>
    Sipho and his wife, Nombulelo live in Tembisa, where safety is a constant concern. 
    The electricity suddenly goes out, plunging their small home into darkness.
</p>

<p>
Sipho’s, working the night shift. Nombulelo grabs her phone and opens Wallety, the convenient mobile payment app. 
With a few taps, she selects purchase electricity, enters the amount. She then clicks request a beneficiary to pay 
for you and proceeds to enter her husband’s number and clicks send. Within seconds Sipho get a message on Wallety requesting to pay. 
He clicks on pay and proceeds to pay the amount using his bank card. Within minutes the lights at home flicker back on.
</p>

<p>
“I’m blessed to have Wallety, ensuring Nombulelo’s safety and comfort. It’s reassuring to know I can provide for her, even from afar.”
 – Sipho
</p>
</div>
</div>
