
    <!--Intro Paragraph-->
<div class="introParagraph">
<div>

<h1>
Experience 
<br>the power of 
<br>
<span>digital payments</span>
</h1>

<br>
    <p>
       You can now easily send, pay, play, get paid, and shop online using your pre-paid digital wallet.
       Wallety has made it possible to load your wallet and get transacting. Load your account by using a voucher, eft, credit or debit card.
       Don’t have funds to pay for a transaction, no problem use Wallety to get a friend or family member to pay it for you.
       To get paid, play, pay, and shop online with Wallety click on signup button below. 
    </p>

<!--Sign Up Button-->
<br>
<br>
    <button><a href="Sign In">Sign Up Now</a></button>

<br>
<br>

<!--Animated paragraph-->
<div>
    <h1>
       SendPayPlayShop 
       <br>anytime with 
       <br><span>#digitalcash</span>
    </h1>
    <br>
    <p>
        You can easily and securely send #digitalcash to your loved ones and receive payments You can use the 
        digital cash to pay for your online purchases without needing a bank account or credit card. Wallety makes this possible.
    </p>
</div>
<br>
<br>

<h1>
Join us in shaping
<br> the future of 
<br><span>#digitalcash</span>
</h1>
<br>

<p>
Buy your voucher from over 350 000 outlets and load your 
Wallety account.    
Below are some of the places you can buy your voucher:
</p>
</div>
 <div>
        <img class=".digitalPayment" src="assets/Images/wallety_me.png" alt="">
 </div>
</div>

<!--Store Outlets-->


<br>
<br>

<!--Carousel for The store outlets-->

<div class="imgClass">
    <img class="picture" src="assets/Images/Checkers.png" alt="">
<img class="picture" src="assets/Images/Boxer.png" alt="">
<img class="picture" src="assets/Images/Makro.png" alt="">
<img class="picture" src="assets/Images/Usave.png" alt="">
<img class="picture" src="assets/Images/OTT_Voucher.png" alt="">
<img class="picture" src="assets/Images/Shoprite.png" alt="">
<img class="picture" src="assets/Images/Superblist.png" alt="">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--Why Join Wallety-->
<div>
    <h1 style="text-align: center; font-size: 70px">WHY JOIN WALLETY?</h1>
</div>
<br>
<br>

<div class="joinWallety">
<div>
<h1><span>#pleasepayforme</span></h1>
<p>Do you want to purchase a product or service and do not have the funds.
Now you can select the product or service you want and Wallety 
will send a payment message to the  person you want to pay for you.
</p>
</div>

<div>
    <img class="picture2" src="assets/Images/hand-holding-phone.png">
</div>
</div>
<br>

<!--GET PAID-->

<div class="joinWallety1">
<div>
    <img class="picture2" src="assets/Images/Get_paid_instantly.png" alt="">
</div>

<div>
<h1><span>Get Paid</span> Instantly</h1>
<p>
Request a <span>#pleasepayme</span> to your clients, patrons etc. paid directly into your wallet <span>#digitalcash</span>. 
This is a simple command that creates instant payment requests right in Whatsapp. Think of it as sending 
a digital payment link that your customer can pay with just one tap
</p>
</div>
</div>
<br>
<br>

<!--PLAY-->

<div class="joinWallety">
<div>
<h1><span>Play</span></h1>
<p>
Are you tired of navigating multiple apps, payment plans, and subscription options 
to enjoy your gaming entertainment? 
Let us simplify the process for you by purchasing gaming credits for popular video games such as 
Free Fire, PUBG Mobile, Sony Playstation and Steam on our platform.  
</p>
</div>

<div>
    <img class="picture2" src="assets/Images/betting.png" alt="">
</div>
</div>

<br>
<br>

<!--BETTING-->

<div class="joinWallety1">
    <div>
    <img class="picture2" src="assets/Images/betting.png" alt="">
</div>

<div>
<h1><span>Betting</span></h1>
<p>
Get ready to take your game to the next level with the ultimate punting experience! 
Whether you’re betting on your favorite sports, backing the horses, or testing your 
luck on thrilling games, Wallety allows you to purchase a 1Voucher that can be used on Easybet, 
Betway and Hollywoodbets.   
</p>
</div>
</div>

<br>
<br>

<!--Pay-->

<div class="joinWallety">
<div>
<h1><span>Pay</span></h1>
<p>
Why spend hours standing in queues or juggling multiple payment systems when you can manage your 
utilities online—quickly, securely, and conveniently? Wallety offers you the convenience to pay 
subscriptions online such as Spotify and DSTV. No more switching between Apps and websites.   
</p>
</div>

<div>
    <img class="picture2" src="assets/Images/betting.png" alt="">
</div>
</div>

<br>
<br>

<!--Shop online & offline-->

<div class="joinWallety1">
<div>
    <img class="picture2" src="assets/Images/hand-holding-phone.png">
</div>
<br>
<br>
<div>
<h1>Shop <span>Online & Offline</span></h1>
<p>
Purchase vouchers and pay for goods & services 
from partner merchants that are available on our platfom.   
</p>
</div>
</div>












