.openApp {
    background-color: #25D366;
    font-size: 20px;
    border: 1px solid black;
    padding: 15px 70px 15px 80px;
    margin: 20px;
    border-radius: 50px;
}

.whatsappWeb{
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
}

div{
    display: block;
    background-color: rgb(185, 182, 182);
    border-radius: 16px;
    padding: 50px 50px;
    margin: 20px;
    text-align: center;
}

.register{
    background-color: white;
    
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}


img{
    width: 150px;
    height: 150px;
    border-radius: 120px;
}