<div>


<img src="assets/Images/Wallety-profile.jpg" alt="">

 <div class="register">
    REGISTER
 </div>
<br>

<button class="openApp"><a href="https://web.whatsapp.com/send/?phone=27773762687&text=Register">Open App </a></button>
<br>

<button class="whatsappWeb"><a href="https://www.whatsapp.com/?lang=en">Continue to WhatsApp Web</a></button>

<br>
<br>
<br>
<p><i class="fa-brands fa-whatsapp"></i> Do not have the app? <a href="https://www.whatsapp.com/?lang=en">Download it now</a></p>



</div>