.layout {
  background-color: white;
  display: flex;
  border: 5px solid gray;
  border-radius: 50px;
  
  
}

/**LEFT SIDE BAR*/

.sidebar {
  width: 250px;
  border: 4px solid gray;
  border-radius: 50px;
  background: white;
  color: rgb(94, 92, 92);
  height: 700px;
  padding: 40px 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar nav ul {
  list-style: none;
  margin-top: 40px;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav a {
  color: rgb(94, 92, 92);
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}


/*STYLING COMPONENTS HOME, PERSONAL AND COMPANY WHEN YOU 
HOVER OVER THEM*/


.route-style:hover{
  background-color: red;
  border-radius: 20px;

}


/* STYLING Buttons Sign-Up and Contact-Us*/

.button-btn{
    background-color: white;
    border: 1px solid red;
    border-radius: 40px;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    color: rgb(94, 92, 92);
}

.button-btn:hover{  
    border: 3px solid red;
}

/*STYLING ICONS*/

.fa-brands{
    color: rgb(92, 92, 92);
    margin-left: 10px;
    cursor: pointer;
    font-size: 23px;
}

.fa-brands:hover{
   color: red;
}


/*RIGHT SIDEBAR STYLING*/
.sidebar1 {
  width: 250px;
  border: 4px solid gray;
  border-radius: 50px;
  background: white;
  height: 700px;
  padding: 40px 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2rem;
  overflow: auto;
}

.red-hashtag{
  color: red;
}

/*The Cards that will show information + Sidebar1*/

.sidebar1 .card{
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 50px;
  font-weight: bold;

}

.sidebar1 .card .button-component {
  background-color: white;
  border: none;
  color: rgb(94, 92, 92);
  font-size: 20px;
  font-weight: bolder;
}

/* Center area where components load */
.main-content {
  flex: 1;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: auto;

}


/*Scrollable*/

.scroll{
  display: flex;
  grid-template-columns: 250px 1fr 200px;
  min-height: 100vh; 
}
