<body>
<h1>About Us</h1>
<br>
<br>

<h4 class="gray-h4">We change the way you handle <span>#digitalcash</span></h4>
<div class="pictureParagraph">
<div>
<p>
    Wallety helps you effortlessly manage <span>#digitalcash</span> transactions,
    whether you are sending or receiving cash, buying airtime and data for yourself, 
    friends and family to stay connected, or sending those essential shopping vouchers 
    to loved ones. Welcome to your new favourite way to do all things <span>#digitalcash</span>.
</p>
</div>

<div>
<img class="picture" src="assets/Images/hand-holding-phone.png" alt="">
</div>
</div>

<br>
<br>

<h4>
    Mission
</h4>
<br>

<div class="missionParagraph">
<div>

<p>
Money matters are complicated. Whether it’s sending money, receive money you are owed, sending pocket money to your kids, assisting your friends and family’s towards their budget — we’ve all experienced how fractured and frustrating finances can be.
That’s why we’re here. Wallety exists to remove all the friction that stands in
the way of your money goals becoming your new reality.
</p>
</div>

<div>
<p>
We’re building a platform so effortless, so seamless, so borderless that you’ll never want to use another financial service again. And we’re making it happen by doing what we always do: relentlessly delivering faster, better, smarter technologies.
Our goal is for everyone to do all things digital cash — sending, requesting, receiving, buying, managing, and more — in just a few chats.
</p>
</div>
</div>

  <button><a href="Sign In">Sign Up Now</a></button>
</body>