

p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;  
  color: rgb(94, 92, 92);
    margin-bottom : 10px;
}

h1{
 font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: rgb(94, 92, 92);
  margin-bottom: 30px;
}


 h4 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: rgb(94, 92, 92);
 }

 .picture{
  max-width: 100%;
}

 span{
  color: red;
 }

 div.missionParagraph,  .pictureParagraph{
  display: flex;
 }

div{
  margin-right: 50px;
  padding: 20px;
}

button{
   font-family: "Poppins", sans-serif;
    background-color: red;
    border-radius: 40px;
    border: none;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}

a {
   color: white;
   font-size: 20px;
}

 